<%- include('partials/header', { pageTitle: 'Jergar.io - Error' }) %>

<main>
    <h2>Error</h2>
    <p>Ha ocurrido un error. Por favor, inténtalo de nuevo más tarde.</p>
    <a href="/">Regresar al inicio</a>
</main>

<%- include('./partials/footer') %>
