<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jergar.io - Diccionario de Jerga</title>
</head>
<body>

    <%- include('partials/header') %>

    <main>
        <h2>Bienvenido a Jergar.io</h2>
        <p>Jergar.io es el diccionario de jerga donde puedes buscar, descubrir y compartir el verdadero lenguaje callejero en español.</p>
    </main>

</body>
</html>
