/* Nivel 1 */
justify-content: flex-end;

/* Nivel 2 */
justify-content: center;

/* Nivel 3 */
justify-content: space-around;

/* Nivel 4 */
justify-content: space-between;

/* Nivel 5 */
align-items: flex-end;

/* Nivel 6 */
justify-content: center;
align-items: center;

/* Nivel 7 */
justify-content: space-around;
align-items: flex-end;

/* Nivel 8 */
flex-direction: row-reverse;

/* Nivel 9 */
flex-direction: column;

/* Nivel 10 */
flex-direction: row-reverse;
justify-content: flex-end;

/* Nivel 11 */
flex-direction: column;
justify-content: flex-end;

/* Nivel 12 */
flex-direction: column-reverse;
justify-content: space-between;

/* Nivel 13 */
flex-direction: row-reverse;
align-items: flex-end;
justify-content: center;

/* Nivel 14 */
.yellow {
  order: 1;
}

/* Nivel 15 */
.red {
  order: -1;
}

/* Nivel 16 */
.yellow {
  align-self: flex-end;
}

/* Nivel 17 */
.yellow {
  order: 1;
  align-self: flex-end;
}

/* Nivel 18 */
flex-wrap: wrap;

/* Nivel 19 */
flex-direction: column;
flex-wrap: wrap;

/* Nivel 20 */
flex-flow: column wrap;

/* Nivel 21 */
align-content: flex-start;

/* Nivel 22 */
align-content: flex-end;

/* Nivel 23 */
flex-direction: column-reverse;
align-content: center;

/* Nivel 24 */
flex-flow: column-reverse wrap-reverse;
justify-content: center;
align-content: space-between;
