<%- include('../partials/header', { pageTitle: 'Recuperar Contraseña - Jergar.io' }) %>

<main>
    <h2>Recuperar Contraseña</h2>

    <form action="/users/forgot-password" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <button type="submit">Enviar Enlace de Restablecimiento</button>
    </form>
    <p><a href="/users/login">Volver al inicio de sesión</a></p>
</main>

<%- include('../partials/footer') %>
