<%- include('../partials/header', { pageTitle: 'Jergar.io - Iniciar Sesi칩n' }) %>

<div class="d-flex flex-column min-vh-100">
    <main class="container my-5 flex-grow-1">
        <div class="card shadow-lg p-4 mx-auto" style="max-width: 600px;">
            <div class="card-body">
                <h2 class="text-center mb-4" style="font-size: 5rem;">游댐</h2>
                <h3 class="text-center text-muted"><em>Iniciar Sesi칩n</em></h3>

                <form action="/users/login" method="POST" class="my-4">
                    <div class="mb-3">
                        <label for="username" class="form-label">游녻 Usuario/Correo:</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">游 Contrase침a:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <p>쯅o tienes una cuenta? <a href="/users/register" class="text-primary">Reg칤strate aqu칤</a>.</p>
                    <p>쯆lvidaste tu contrase침a? <a href="/users/forgot-password" class="text-primary">Recupera tu cuenta aqu칤</a></p>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</div>
