<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>

    <%- include('../partials/header') %>

    <main>
        <h2>Perfil de <%= username %></h2>

        <form action="/users/logout" method="POST">
            <button type="submit">Cerrar Sesión</button>
        </form>
    </main>

</body>
</html>
