<%- include('../partials/header', { pageTitle: 'Jergar.io - Registro' }) %>

<div class="d-flex flex-column min-vh-100">
    <main class="container my-5 flex-grow-1">
        <div class="card shadow-lg p-4 mx-auto" style="max-width: 600px;">
            <div class="card-body">
                <h2 class="text-center mb-4" style="font-size: 5rem;">游닇</h2>
                <h3 class="text-center text-muted"><em>Registro de Usuario</em></h3>

                <form action="/users/register" method="POST" class="my-4">
                    <div class="mb-3">
                        <label for="username" class="form-label">游녻 Nombre de Usuario:</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">游닎 Correo Electr칩nico:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">游 Contrase침a:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">游 Confirmar Contrase침a:</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <p>쯏a tienes una cuenta? <a href="/users/login" class="text-primary">Inicia sesi칩n aqu칤</a>.</p>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</div>
