<%- include('../partials/header', { pageTitle: 'Restablecer Contrase침a - Jergar.io' }) %>

<div class="d-flex flex-column min-vh-100">
    <main class="container my-5 flex-grow-1">
        <div class="card shadow-lg p-4 mx-auto" style="max-width: 600px;">
            <div class="card-body">
                <h2 class="text-center mb-4" style="font-size: 5rem;">游댐</h2>
                <h3 class="text-center text-muted"><em>Restablecer Contrase침a</em></h3>

                <form action="/users/reset-password/<%= token %>" method="POST" class="my-4">
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">游 Nueva Contrase침a:</label>
                        <input type="password" name="newPassword" id="newPassword" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="confirmNewPassword" class="form-label">游 Confirmar Nueva Contrase침a:</label>
                        <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" required>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Restablecer Contrase침a</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <p><a href="/users/login" class="text-primary">Volver al inicio de sesi칩n</a></p>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</div>
