<%- include('../partials/header', { pageTitle: 'Restablecer Contraseña - Jergar.io' }) %>

<main>
    <h2>Restablecer Contraseña</h2>

    <form action="/users/reset-password/<%= token %>" method="POST">
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" name="newPassword" id="newPassword" required>
        <label for="confirmNewPassword">Confirmar Nueva Contraseña:</label>
        <input type="password" name="confirmNewPassword" id="confirmNewPassword" required>
        <button type="submit">Restablecer Contraseña</button>
    </form>
    <p><a href="/users/login">Volver al inicio de sesión</a></p>
</main>

<%- include('../partials/footer') %>
