<%- include('../partials/header', { pageTitle: 'Jergar.io - Agregar Nueva Jerga'}) %>

<main>
    <h2>Agregar Nueva Jerga</h2>
    <p>Comparte el verdadero lenguaje callejero en español completando el formulario a continuación.</p>
    
    <form action="/slangs/add" method="POST">
        <div>
            <label for="slang">Jerga:</label>
            <input type="text" id="slang" name="slang" required>
        </div>

        <div>
            <label for="definition">Definición:</label>
            <textarea id="definition" name="definition" required></textarea>
        </div>

        <div>
            <label for="example">Ejemplo:</label>
            <textarea id="example" name="example" required></textarea>
        </div>

        <div>
            <label for="region">Región:</label>
            <select id="region" name="region" required>
                <option value="general">General</option>
                <% const regiones = ['España', 'México', 'Argentina', 'Colombia', 'Chile', 'Perú', 'Venezuela', 'Ecuador', 'Guatemala', 'Cuba', 'Bolivia', 'Honduras', 'Paraguay', 'El Salvador', 'Nicaragua', 'Costa Rica', 'Puerto Rico', 'Panamá', 'Uruguay', 'República Dominicana']; %>
                <% regiones.forEach(regionOption => { %>
                    <option value="<%= regionOption %>"><%= regionOption %></option>
                <% }) %>
            </select>
        </div>

        <div>
            <button type="submit">Agregar Jerga</button>
        </div>
    </form>
</main>

<%- include('../partials/footer') %>
